/* CSS Reset */
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* CSS Reset */


body {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;

  & p {
    text-align: center;
    font-weight: bold;
    margin: 0.2em;

    & span {
      font-size: 1.2em;
    }
  }
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  >div {
    padding: 0.5em
  }
}

#speed,
#size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}


canvas {
  border: solid 1px #ddd;
  height: 400px;
  width: 400px;
}